


h1{
text-align: center;
color: #9b2226;
margin-bottom: 50px;
margin-top: 50px;
}
h2 {
    color: #00b4d8;
}

.red_fotografija {
        display: flex;
        
      }
      
      .kolona_fotografija {
        flex: 33.33%;
        padding: 5px 10px;
      }

      .kolona_fotografija p, h2{
          margin: 20px;
      }

      .kolona_fotografija p {
        text-align: justify;
      }

img{
    width: 100%;
}
    